<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="LNT_Webpage.settings" />
        <add key="PYTHONPATH" value="E:\Python\Python Website LNT\LNT_Webpage" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
